.vscode/**
.vscode-test/**
node_modules
out/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
publish.sh
test-xvfb.sh
.yourbase.yml
webpack.config.js
